<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">

  <title>Yomy Food</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper #ffffff white center">
      <img class="responsive-img logo2" src="../images/logo.png">
    </div>
  </nav>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>

  <div class="container">
    <div class="col 12">
      <img class="responsive-img img-comida1" src="../images/comida1.jpg">
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <hr>
    <div class="row"></div>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s8" >
            <i class="material-icons prefix icon-food">local_dining</i>
            <textarea id="txtComida" class="materialize-textarea text"></textarea>
            <label for="icon_prefix2" class="text">¿Qué tipo de comida buscas?</label>
          </div>
          <a id="btnBuscar" class="waves-effect waves-light btn-large red darken-4">Buscar</a>
        </div>
        <div id="mexicana">
          <img src="../images/mexicana.png" class="img-rest" alt="">
          <img src="../images/juan.png" class="img-rest" alt="">
        </div>
        <div id="vegetariana">
          <img src="../images/mvegano.png" class="img-rest" alt="">
          <img src="../images/forever.png" class="img-rest" alt="">
        </div>
      </form>
    </div>
  </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="../data/data.js"></script>
  <script src="../js/app.js">

  </script>

</body>
</html>
